a {
    word-wrap: break-word !important;
}

strong {
    margin-bottom: .5rem;
}

.link-container {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 1rem 2rem 2rem 2rem;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

